@import '../../sass/variables';
@import '../../sass/mixins';

.youtube-video {
  .youtube-container {
    background-color: $color-black;
    width: 440px;
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
      border: none;
    }

    @include responsive(1200px) {
      width: 100% !important;
    }
  }
}

.empty-result {
  ont-size: 18px;
  font-weight: bold;
  color: $color-raven;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
