@import '../../sass/variables';
@import '../../sass/mixins';

.empty-result {
  ont-size: 18px;
  font-weight: bold;
  color: $color-raven;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
