@import '../../sass/variables';
@import '../../sass/mixins';

.App {
  text-align: center;

  .App-logo {
    @include spinAnimation();
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: $color-shark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $color-white;
  }

  .App-link {
    color: $color-malibu;
  }
}
