@import '../../sass/variables';
@import '../../sass/mixins';

.app {
  background-color: $color-shark;
  width: 100%;
  min-height: 100vh;

  .app-container {
    max-width: 1000px;
    min-height: 800px;
    background-color: $color-athens-gray;
    margin: 0 auto;
    padding: 0;
  }

  .app-contents {
    padding: 10px;
  }
}
