@import '../../sass/variables';
@import '../../sass/mixins';

.video-details {

  .statistics {
    padding: 10px !important;
    background-color: $color-shark;
    margin-bottom: 15px;
    color: $color-white;
    text-align: center;

    span {
      color: $color-french-grey;
      font-weight: bold;
    }
  }

  .youtube-container {
    background-color: $color-black;
    width: 100%;
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;

    iframe {
      border: none;
    }
  }
}

